@-moz-document domain("algocode.ru") {
@import url("https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css");

    :root {
        --rosewater: var(--ctp-latte-rosewater);
        --flamingo: var(--ctp-latte-flamingo);
        --pink: var(--ctp-latte-pink);
        --mauve: var(--ctp-latte-mauve);
        --red: var(--ctp-latte-red);
        --maroon: var(--ctp-latte-maroon);
        --peach: var(--ctp-latte-peach);
        --yellow: var(--ctp-latte-yellow);
        --green: var(--ctp-latte-green);
        --teal: var(--ctp-latte-teal);
        --sky: var(--ctp-latte-sky);
        --sapphire: var(--ctp-latte-sapphire);
        --blue: var(--ctp-latte-blue);
        --lavender: var(--ctp-latte-lavender);
        --text: var(--ctp-latte-text);
        --subtext1: var(--ctp-latte-subtext1);
        --subtext0: var(--ctp-latte-subtext0);
        --overlay2: var(--ctp-latte-overlay2);
        --overlay1: var(--ctp-latte-overlay1);
        --overlay0: var(--ctp-latte-overlay0);
        --surface2: var(--ctp-latte-surface2);
        --surface1: var(--ctp-latte-surface1);
        --surface0: var(--ctp-latte-surface0);
        --base: var(--ctp-latte-base);
        --mantle: var(--ctp-latte-mantle);
        --crust: var(--ctp-latte-crust);
    }
    body {
        background-color: var(--base);
        color: var(--text);
    }
    a {
        color: var(--flamingo);
    }

    a:hover {
        border-bottom-color: var(--flamingo);
    }

    table {
        background-color: var(--base);
    }
    td {
        background-color: var(--base) !important;
    }
    .ok {
        background-color: var(--green) !important;
        color: var(--crust);
    }
    .bad {
        background-color: var(--red) !important;
        color: var(--crust);
    }


}