@-moz-document domain("algocode.ru") {
@import url("https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css");

    :root {
        --rosewater: var(--ctp-macchiato-rosewater);
        --flamingo: var(--ctp-macchiato-flamingo);
        --pink: var(--ctp-macchiato-pink);
        --mauve: var(--ctp-macchiato-mauve);
        --red: var(--ctp-macchiato-red);
        --maroon: var(--ctp-macchiato-maroon);
        --peach: var(--ctp-macchiato-peach);
        --yellow: var(--ctp-macchiato-yellow);
        --green: var(--ctp-macchiato-green);
        --teal: var(--ctp-macchiato-teal);
        --sky: var(--ctp-macchiato-sky);
        --sapphire: var(--ctp-macchiato-sapphire);
        --blue: var(--ctp-macchiato-blue);
        --lavender: var(--ctp-macchiato-lavender);
        --text: var(--ctp-macchiato-text);
        --subtext1: var(--ctp-macchiato-subtext1);
        --subtext0: var(--ctp-macchiato-subtext0);
        --overlay2: var(--ctp-macchiato-overlay2);
        --overlay1: var(--ctp-macchiato-overlay1);
        --overlay0: var(--ctp-macchiato-overlay0);
        --surface2: var(--ctp-macchiato-surface2);
        --surface1: var(--ctp-macchiato-surface1);
        --surface0: var(--ctp-macchiato-surface0);
        --base: var(--ctp-macchiato-base);
        --mantle: var(--ctp-macchiato-mantle);
        --crust: var(--ctp-macchiato-crust);
    }
    body {
        background-color: var(--base);
        color: var(--text);
    }
    a {
        color: var(--flamingo);
    }

    a:hover {
        border-bottom-color: var(--flamingo);
    }

    table {
        background-color: var(--base);
    }
    td {
        background-color: var(--base) !important;
    }
    .ok {
        background-color: var(--green) !important;
        color: var(--crust);
    }
    .bad {
        background-color: var(--red) !important;
        color: var(--crust);
    }


}