@import url('https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css');

:root {
    --rosewater: var(--ctp-mocha-rosewater);
    --flamingo: var(--ctp-mocha-flamingo);
    --pink: var(--ctp-mocha-pink);
    --mauve: var(--ctp-mocha-mauve);
    --red: var(--ctp-mocha-red);
    --maroon: var(--ctp-mocha-maroon);
    --peach: var(--ctp-mocha-peach);
    --yellow: var(--ctp-mocha-yellow);
    --green: var(--ctp-mocha-green);
    --teal: var(--ctp-mocha-teal);
    --sky: var(--ctp-mocha-sky);
    --sapphire: var(--ctp-mocha-sapphire);
    --blue: var(--ctp-mocha-blue);
    --lavender: var(--ctp-mocha-lavender);
    --text: var(--ctp-mocha-text);
    --subtext1: var(--ctp-mocha-subtext1);
    --subtext0: var(--ctp-mocha-subtext0);
    --overlay2: var(--ctp-mocha-overlay2);
    --overlay1: var(--ctp-mocha-overlay1);
    --overlay0: var(--ctp-mocha-overlay0);
    --surface2: var(--ctp-mocha-surface2);
    --surface1: var(--ctp-mocha-surface1);
    --surface0: var(--ctp-mocha-surface0);
    --base: var(--ctp-mocha-base);
    --mantle: var(--ctp-mocha-mantle);
    --crust: var(--ctp-mocha-crust);
}

body {
    background: var(--mantle);
    color: var(--text);
    box-shadow: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#container {
    background: var(--base);
    /* box-shadow: rgba(154, 154, 154, 1) 0px 0px 70px 5px; */
    box-shadow: none !important;
    border: none;
}

#probnavtaskarea pre {
    /* color: #555555; */
    background: var(--mantle);
    padding: 7px 10px;
    border: none !important;
    color: var(--peach);
    border-radius: 5px !important;
}

h4 {
    color: var(--subtext1);
}

.nprobempty {
    background: var(--surface0) !important;
    box-shadow: none !important;
    /* border-bottom: 1px solid black !important; */
    /* border-left: 1px solid black !important; */
    /* border-right: 1px solid black !important; */
    /* color: var(--subtext1) !important; */
}

td#probnavtaskarea {
    border: none;
    background: none;
    /* border-bottom: 1px solid rgb(194, 194, 194); */
    box-shadow: none;
    border-top: none;
}

.info-table-line {
    margin: 20px 0 5px 0;
    border-collapse: collapse;
    box-shadow: none !important;
}

.info-table-line td {
    background: var(--surface0) !important;
    padding: 6px 15px;
}

a {
    color: var(--rosewater);
}

.table td {
    border: 1px solid var(--surface1) !important;
    background: var(--mantle) !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

table.standings td {
    border: 1px solid var(--surface1) !important;
    background: var(--mantle) !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

.table {
    margin: 10px 0 20px 0;
    border-collapse: collapse;
    box-shadow: none !important;
    font-size: 14px;
}

.table th,
.table .th,
table.standings th {
    /* background: rgb(185,211,232); */
    /* background: -moz-linear-gradient(top, rgba(185,211,232,1) 0%, rgba(118,178,228,1) 4%, rgba(122,184,234,1) 33%, rgba(106,154,201,1) 100%); */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,211,232,1)), color-stop(4%,rgba(118,178,228,1)), color-stop(33%,rgba(122,184,234,1)), color-stop(100%,rgba(106,154,201,1))); */
    /* background: -webkit-linear-gradient(top, rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); */
    /* background: -o-linear-gradient(top, rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); */
    /* background: -ms-linear-gradient(top, rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); */
    background: var(--surface0) !important;
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#b9d3e8', endcolorstr='#6a9ac9', gradienttype=0);
    color: var(--text) !important;
    border: 1px solid var(--surface1) !important;
    text-shadow: none;
    font-weight: bold;
}

table.standings {
    box-shadow: none !important;
}

#ntopnavselected div.nprobcurrent {
    /* background: rgb(209, 209, 209); */
    /* background: rgb(215,233,243); */
    /* background: -moz-linear-gradient(top, rgba(215,233,243,1) 0%, rgba(131,196,249,1) 4%, rgba(123,184,225,1) 66%, rgba(120,180,220,1) 100%); */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,233,243,1)), color-stop(4%,rgba(131,196,249,1)), color-stop(66%,rgba(123,184,225,1)), color-stop(100%,rgba(120,180,220,1))); */
    /* background: -webkit-linear-gradient(top, rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); */
    /* background: -o-linear-gradient(top, rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); */
    /* background: -ms-linear-gradient(top, rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); */
    background: linear-gradient(to bottom, rgba(215, 233, 243, 1) 0%, rgba(131, 196, 249, 1) 4%, rgba(123, 184, 225, 1) 66%, rgba(120, 180, 220, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#d7e9f3', endcolorstr='#78b4dc', gradienttype=0);
    padding-top: 15px;
    border: none !important;
    /* border-radius: 5px !important; */
    /* margin-top: 5px !important; */
}

.nprobcurrent {
    background: var(--surface2) !important;
    border: none !important;
    border-radius: 5px !important;
}

.nprobok {
    background: var(--green) !important;
    border: none !important;
    border-radius: 5px !important;
}

.nprobbad {
    background: var(--red) !important;
    border: none !important;
    border-radius: 5px !important;
}

.nprobtrans {
    background: var(--yellow) !important;
    border: none !important;
    border-radius: 5px !important;
}

.nprobempty {
    border: none !important;
    border-radius: 5px !important;
}

.ntopnavlist {
    margin-bottom: -40px !important;
}

.ntopnavlist li.first-rad .nprobempty,
.ntopnavlist li.first-rad .nprobcurrent,
.ntopnavlist li.first-rad .nprobbad,
.ntopnavlist li.first-rad .nprobok,
.ntopnavlist li.first-rad .nprobtrans {
    border-radius: 5px !important;
    border: none !important;
    margin-left: 20px !important;
}

li#ntopnavselected:first-child .nprobcurrent {
    margin-left: 20px !important;
}

.nprobcurrent a {
    color: var(--flamingo) !important;
}

.nprobempty a {
    color: var(--text) !important;
}

.nprobok a {
    color: var(--crust) !important;
}

.nprobbad a {
    color: var(--crust) !important;
}

.nprobtrans a {
    color: var(--crust) !important;
}

.nprobcurrent a {
    color: var(--text) !important;
}

#l12-col {
    background: var(--surface1);
    padding-left: 50px;
}

.server_status_on {
    background: var(--surface1) !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 10px !important;
    color: var(--text) !important;
    margin-bottom: 50px !important;
}

.server_status_alarm {
    background: var(--yellow) !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 10px !important;
    color: var(--text) !important;
    margin-bottom: 50px !important;
}

#main-menu {
    background: var(--surface2);
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding-bottom: 5px;
}

#main-menu ul li a {
    color: var(--text) !important;
}

input[type=file] {
    background-color: var(--base) !important;
    border-radius: 5px;
    color: var(--rosewater);
}

input[type=submit] {
    background: var(--rosewater) !important;
    border: none !important;
    border-radius: 5px;
    font-weight: 1000;
}

#main-cont {
    padding: 0;
}

select {
    font-family: "roboto-regular", "verdana", "arial";
    font-weight: normal;
    font-size: 9px;
    padding: 0px 0px 0px 0px;
    background: var(--rosewater);
    border-radius: 5px;
    border: none !important;
}

img {
    border-radius: 5px !important;
}

.nbottomnavlist li a,
.ntopnavlist li a,
a.tab:visited {
    color: var(--flamingo);
    text-shadow: none !important;
    padding-top: 10px;
}

td.b1 a.tab {
    color: var(--flamingo) !important;
}

div.h2-long {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.h2-long h2 {
    background: var(--green);
    color: var(--crust) !important;
    border-radius: 5px;
    margin-left: 0 !important;
}

div.main_phrase {
    color: var(--text) !important;
}

table.line-table-wb:first-of-type {
    border-radius: 5px !important;
    background: var(--mantle);
}

.line-table-wb tr {
    border-bottom: 2px solid var(--base);
}

.line-table-wb tr:last-child {
    border-bottom: none;
}

.line-table-wb tr td {
    padding-left: 10px;
    border-right: 2px solid var(--base);
}

.line-table-wb tr td:last-child {
    border-right: none;
    color: var(--mauve);
    font-weight: bolder;
}

div#statusLine {
    padding-left: 20px;
}

div#l11 {
    padding-left: 20px;
}

div#l12-col {
    padding-left: 20px;
}

div#footer {
    padding-left: 20px;
}